* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    font-family: 'Brandon Grotesque', 'Brown';
    font-size: 16px;
    color: #333;
    margin: 0;
}
a {
    outline: none;
    color: #a0aac0;
}
a:hover {
    color: #333;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
    border: none;
}
input, select, textarea {
    font-size: 16px;
    color: #000;
}

iframe {
    max-width: 100%;
    border: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clr, .cl, .clear {
    clear: both;
}

input, select, textarea, button {
    color: #333;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}

textarea {
    resize: auto;
    min-height: 82px;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

ul li {
    list-style-type: none;
}
/* style css */
.header-w {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 100px;
    text-align: left;
}
ul.header-right {
    text-align: right;
    margin: 0px;
}
ul.header-right li {
    display: inline-block;
    padding: 0px 30px;
}
ul.header-right li a{
    text-transform: uppercase;
    font-size: 16px;
    color: black;
}
.header-up {
    padding: 20px 0px;
}
.carousel-caption {
    top: 40%;
   
}
.banner-text h5 {
    font-size: 70px;
    color: white;
}
.banner-text p {
    font-size: 30px;
    color: #ffffff;
}
img.opacity {
    opacity: 0.4;
}
.carousel-indicators li{
    border-radius: 76%;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 13, 13);
    margin: 0px 11px;
}
.carousel-item {
    opacity: 1;
    background: black;
}
.product-box {
    text-align: center;
}
.product-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
}
.product-up {
    padding: 40px 0px;
}
.history-text p {
    font-size: 27px;
}
.history-text h2{
    padding-bottom: 40px;
}
.left-box {
    float: left;
    margin: 0px 30px 30px 0px;
    width: 50%;
}
.whole-box {
    display: block;
    flex-wrap: wrap;
}
.right-box {
    width: auto;
}
.left-box.friends {
    float: right;
    margin: 0px 0px 30px 30px;
}
button.btn.btn-link {
    color: white;
    font-size: 20px;
}
.card-header {
    background-color: #28a745;
}
.questions {
    padding: 50px 0px;
}